html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
}
body{
   margin: 0px;
   padding: 0px;
   font-family: "Prompt", sans-serif;
  color: white;
  /* background: #107CA3; */
  overflow-x: hidden;
}

  section{
  position: relative;
  display: flex;
  flex-direction: column;
align-items: center;  
}

@media (min-width: 961px) {
section{
  padding: 50px 5vw; 
}
h1 {
  font-size: 4rem;
}
}

  
@media (max-width: 960px) {
  section{
    padding: 10px 3vw; 
  }
h1 {
  font-size: 2rem;
}
}
.red{
  background: #F01849;
}
.dark{
  background: #1a150e;
  background-image: url('./assets/svg/blob-scene-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.pink{
  background: #FF0066;
  min-height: 300px;
  align-items: center;
  justify-content: center;

}
.blue2{
  background: #00AEEF;
  background-image: url('./assets/svg/blob-scene-haikei-upsidedown.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.blue{
  background: #107CA3;
  background-image: url('./assets/svg/navbar.svg');
  background-size: auto 100px;
  background-repeat: no-repeat;
}


.white{
 
  background: white;
  height: 100px;
  color: black;
  background-image: url('./assets/svg/bluetowhite.svg');
  background-repeat: no-repeat; 
  background-position: top;
  background-size: cover;
  justify-content: center; 
  padding: 10px;
  margin: 0px;
  z-index: 1;
}
.white > h1{
  position: relative;
  top: 65px;
}


.pinktowhite{
  background-image: url('./assets/svg/pinktowhite.svg');
  height: 100px;
  background-repeat: no-repeat; 
  background-position: bottom;
  background-size: cover;
  padding: 10px;
  margin: 0px;

}

.curve{
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}

.curve::before{
  content: '45345345';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #000000;
  transform: translate(85%, 60%);
 
}
.curve::after {
  content: 'Bence';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #0093E9;
  transform: translate(-4%, 40%); 
  z-index: -1; 
}
.bubble::after{
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  height: 85%;
  width: 100%;
  background-color: #eeeeee;
}
/* .wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
}

.wave .shape-fill {
  fill: #0B4357;
}
 */
/* .spacer{
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.redtopink{
  background-image: url('./assets/svg/redtopink.svg');
}

.bluetowhite{
  background-image: url('./assets/svg/bluetowhite.svg');
}

.container{
  display: inline-flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;



.profile{
  max-width: 200px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.8; 
}


.layer1 {
  background-image: url('./assets/svg/layer1.svg');
}
.layer2 {
  background-image: url('./assets/svg/layer2.svg');
}

.flip {
  transform: rotate(180deg);
}

/* Blobs SVG background image via https://haikei.app/ */

.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}

.blob-content {
  z-index: 1;
}
.blobs {
  width: 100%;
  background: url('./blobs.svg') no-repeat bottom / cover;
}





}